## Deliverable 3. Create a Travel Itinerary Map.

In [91]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [92]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,1,Saldanha,ZA,46.45,broken clouds,-33.0117,17.9442,Saldanha Bay Hotel
1,2,Punta Arenas,CL,41.11,broken clouds,-53.1500,-70.9167,Hotel Cabo de Hornos
2,3,Narsaq,GL,52.02,overcast clouds,60.9167,-46.0500,Igdlo Guesthouse
3,4,Oga,IT,66.88,broken clouds,46.4631,10.3470,Alpen
4,5,Longjiang,CN,66.29,clear sky,47.3303,123.1836,Longjiang Hotel

In [93]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [94]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [95]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Lugo"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Lugo"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Naron"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Carballo"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Muros"]

In [96]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [97]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
start_end = gmaps.directions_layer(start, end, waypoints = [stop1,stop2,stop3],travel_mode="DRIVING")
fig.add_layer(start_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [98]:
# Use concat() to combine the four vacation dataframes.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,197,Lugo,ES,65.77,overcast clouds,43.0000,-7.5000,Mercure Lugo Centro
1,290,Naron,ES,68.85,overcast clouds,43.5167,-8.1528,Hotel Valcarce Ferrol
2,679,Carballo,ES,71.02,overcast clouds,43.2130,-8.6910,Hotel Pensua Punta Del Este
3,42,Muros,ES,71.69,broken clouds,42.7762,-9.0603,Miraflores Alojamiento Turístico

In [99]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [100]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

array([205])